@{
    ViewBag.Title = "404 - Not Found";
}

<h1>404 - Not Found</h1>
<p>The page or resource you are looking for could not be found.</p>
<p>Please check the URL or go back to the <a href="/">home page</a>.</p>